<section id="data_collector" class="tile1">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Data Collector</h3>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <mat-card class="tile-card">
                    <mat-card-content>
                        <div class="row">        
                            <div class="col-lg-12  col-md-12 col-xs-12">
                              <img src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="">
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>            
            </div>
        </div>    
    </div>
</section>
<section id="tunneller" class="tile2">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Tunneller</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="" width="100%">               
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint ea voluptatibus, quasi eum soluta officiis blanditiis praesentium qui sapiente recusandae voluptatem magnam nostrum tenetur dolores accusantium! Atque, nobis. Nihil!</p>                  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            <mat-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus aperiam magni optio aut, quia minima non laborum nobis, suscipit exercitationem deserunt sequi ducimus nihil nulla, necessitatibus culpa numquam! Temporibus.</p>  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime</h5>
            </div>
        </div>    
    </div>
</section>
<section id="alarm_sever_client" class="tile3">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Alarm Server/Client</h3>
        <div class="grp_tile_sec">
            <div class="col-md-6 col-lg-3 col-xs-12">
                <mat-card class="tile-card">
                    <img mat-card-image  src="../../assets/images/factory.svg" class="tile-icon" alt="">               
                    <mat-card-content>
                        <h5 class="title">Metus</h5>      
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                    </mat-card-content>
                </mat-card>            
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <mat-card class="tile-card">
                    <img mat-card-image  src="../../assets/images/analysis.svg" class="tile-icon" alt="">               
                    <mat-card-content>
                        <h5 class="title">Analysis</h5>      
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                    </mat-card-content>
                </mat-card>               
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <mat-card class="tile-card">
                    <img mat-card-image  src="../../assets/images/predict.svg" class="tile-icon" alt="" width="100%">               
                    <mat-card-content>
                        <h5 class="title">Predictor</h5>      
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                    </mat-card-content>
                </mat-card>               
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <mat-card class="tile-card">
                    <img mat-card-image  src="../../assets/images/flowchart.svg" class="tile-icon" alt="" width="100%">               
                    <mat-card-content>
                        <h5 class="title">RCA</h5>      
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                    </mat-card-content>
                </mat-card>               
            </div>   
            <div class="col-md-6 col-lg-3 col-xs-12">
                <mat-card class="tile-card">
                    <img mat-card-image  src="../../assets/images/analysis-lvs.svg" class="tile-icon" alt="" width="100%">               
                    <mat-card-content>
                        <h5 class="title">LVS</h5>      
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                    </mat-card-content>
                </mat-card>               
            </div>      
        </div>    
    </div>
</section>
<section id="opcda_client" class="tile4">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC DA Client</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <mat-card class="tile-card">
                    <mat-card-content>
                        <div class="row">        
                            <div class="col-lg-12 col-md-12 col-xs-12">
                              <img src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>    
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime</h5>
            </div>
        </div>    
    </div>
</section>
<section id="alarm_alerts" class="tile5">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Alarm Alerts</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime</h5>
            </div>

            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="" width="100%">               
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint ea voluptatibus, quasi eum soluta officiis blanditiis praesentium qui sapiente recusandae voluptatem magnam nostrum tenetur dolores accusantium! Atque, nobis. Nihil!</p>                  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            <mat-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus aperiam magni optio aut, quia minima non laborum nobis, suscipit exercitationem deserunt sequi ducimus nihil nulla, necessitatibus culpa numquam! Temporibus.</p>  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>
<section id="web_server" class="tile6">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Web Server</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>    
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> 
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
            </div>
        </div>    
    </div>
</section>
<section id="xl_ae_reporter" class="tile7">
    <div class="body">
        <h3 data-aos="fade-down">SAMA XL AE Reporter</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime</h5>
            </div>

            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="" width="100%">               
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint ea voluptatibus, quasi eum soluta officiis blanditiis praesentium qui sapiente recusandae voluptatem magnam nostrum tenetur dolores accusantium! Atque, nobis. Nihil!</p>                  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            <mat-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus aperiam magni optio aut, quia minima non laborum nobis, suscipit exercitationem deserunt sequi ducimus nihil nulla, necessitatibus culpa numquam! Temporibus.</p>  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>
<section id="rationalization" class="tile8">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Rationalization</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>    
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> 
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
            </div>
        </div>    
    </div>
</section>
