/* .support-sec {
    padding: 40px 10px;
} */
 .support-img {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .support-img img {
    width: 100%;
    height: 60vh;
    object-fit: contain;
 }
.login-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #AABCB4; */
}
.example-card {
    margin: 40px 0px;
}
.login-sec {
    padding: 40px 20px;
    overflow: hidden;
    background-color: #AABCB4;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.login-container .btn-block {
    width: 100%;
  }
.action_btn {
    justify-content: center;
}
.header {
    justify-content: space-between;
}
.comp_info {
    display: flex;
}
/* .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
} */
div.logo{text-align: center; margin: 20px 20px 30px 20px; fill: #566375;}

.table-sec {
    padding: 40px 20px;
}
.main-title{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}
h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: .95em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
}

.contact-sec .contact-form {
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4); */
    /* border-radius: 10px; */
    /* background: rgba(255, 255, 255, 0.2); */
    /* background-color: #061823; */
    color: #fff;
    padding: 40px 20px;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}

.contact-sec .contact-form:hover {
    transform: scale(1.02);
    transition: .5s;
}
.contact-sec .form-group {
    margin-bottom: 2rem;
}
.contact-sec .form-control {
    background-color: #444;
    height: 60px;
    padding: 20px 25px;
    border: none;
    border-radius: 20px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.contact-sec .form-group textarea {
    height: auto;
}

.contact-sec .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.contact-sec .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.contact-sec .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.contact-sec .form-control:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
    box-shadow: 0px 0px 0px 2px #ff8846
}

.submit-btn {
    color: #fff !important;
    background-color: #e35e0a;
    font-weight: 700;
    height: 60px;
    padding: 10px 30px;
    width: 300px;
    margin: auto;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all
}

.submit-btn:hover,
.submit-btn:focus {
    opacity: 0.9
}