<section class="contact-sec">
  <!-- Hero Section -->
  <div class="hero-section">
    <div class="hero-content" data-aos="fade-up" data-aos-duration="1000">
      <h1>Get In Touch</h1>
      <p>Have questions? We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
      <div class="hero-decorations">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
      </div>
    </div>
  </div>

  <!-- Contact Form Section -->
  <div class="form-section">
    <div class="map-sec">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="contact-form">
              <h3 data-aos="fade-down" data-aos-duration="800">Contact Us</h3>

              <div class="form-row">
                <div class="col-md-12 form-group" data-aos="fade-up" data-aos-delay="50">
                  <label class="text-inverse font-12 text-uppercase">Enquiry Type<span class="text-danger">*</span></label>
                  <select class="border-0 font-14 form-control" formControlName="enquiryType"
                    [ngClass]="{ 'is-invalid': submitted && f['enquiryType'].errors }">
                    <option value="" disabled>Select Enquiry Type</option>
                    <option *ngFor="let type of enquiryTypes" [value]="type.value">{{ type.label }}</option>
                  </select>
                  <div *ngIf="submitted && f['enquiryType'].errors" class="invalid-feedback mb">
                    <div *ngIf="f['enquiryType'].errors['required']">Enquiry type is required.</div>
                  </div>
                </div>

                <div class="col-md-6 form-group" data-aos="fade-right" data-aos-delay="100">
                  <label class="text-inverse font-12 text-uppercase">Name<span class="text-danger">*</span></label>
                  <input type="text" class="border-0 font-14 form-control" placeholder="Your Name"
                    formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                  <div *ngIf="submitted && f['name'].errors" class="invalid-feedback mb">
                    <div *ngIf="f['name'].errors['required']">Name is required.</div>
                  </div>
                </div>

                <div class="col-md-6 form-group" data-aos="fade-left" data-aos-delay="100">
                  <label class="text-inverse font-12 text-uppercase">Email<span class="text-danger">*</span></label>
                  <input type="text" class="border-0 font-14 form-control" placeholder="Your Email"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback mb">
                    <div *ngIf="f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors['email']">Invalid email format.</div>
                    <div *ngIf="f['email'].errors['invalidEmail']">Email must contain '@' and '.com'.</div>
                  </div>
                </div>

                <div class="col-md-12 form-group" data-aos="fade-up" data-aos-delay="200">
                  <label class="text-inverse font-12 text-uppercase">Subject<span class="text-danger">*</span></label>
                  <input type="text" class="border-0 font-14 form-control" placeholder="Your Subject"
                    formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }" />
                  <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback mb">
                    <div *ngIf="f['subject'].errors['required']">Subject is required.</div>
                  </div>
                </div>

                <div class="col-md-12 form-group" data-aos="fade-up" data-aos-delay="300">
                  <label class="text-inverse font-12 text-uppercase">Message<span class="text-danger">*</span></label>
                  <textarea col="1" row="4" class="border-0 font-14 form-control"
                    placeholder="Write Down the Message" formControlName="message"
                    [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
                  <div *ngIf="submitted && f['message'].errors" class="invalid-feedback mb">
                    <div *ngIf="f['message'].errors['required']">Message is required.</div>
                  </div>
                </div>
              </div>

              <div class="text-center" data-aos="zoom-in" data-aos-delay="400">
                <button color="primary" class="submit-btn" type="submit">
                  <span class="btn-text">Send Message</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Info Section -->
  <div class="info-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="contact-info-wrapper">
            
            <div class="info-item" data-aos="fade-right" data-aos-delay="100">
              <div class="info-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <div class="info-content">
                <h5>Location</h5>
                <p>Supra Controls Private Limited<br>35, 2nd Floor, St Marys Rd, Mandaveli,<br>Chennai, Tamil Nadu
                  600028, India</p>
              </div>
            </div>

            <div class="info-item" data-aos="fade-right" data-aos-delay="200">
              <div class="info-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path
                    d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                  <path
                    d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                </svg>
              </div>
              <div class="info-content">
                <h5>Email</h5>
                <p><a href="mailto:sales@supracontrols.com">sales&#64;supracontrols.com</a></p>
              </div>
            </div>

            <div class="info-item" data-aos="fade-right" data-aos-delay="300">
              <div class="info-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <div class="info-content">
                <h5>Call</h5>
                <p>+91 9940465855</p>
                <p>+91 8668040440</p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="200">
          <div class="map-wrapper">
            <iframe
              src="https://www.google.com/maps/embed/v1/place?q=Supra+Controls+Private+Limited,+St+Marys+Rd,+Saradapuram,+Mandaveli,+Chennai,+Tamil+Nadu+600028,+India&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Wave Decoration -->
  <div class="wave-decoration">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
      <path fill="#061823" fill-opacity="1"
        d="M0,160L48,170.7C96,181,192,203,288,192C384,181,480,139,576,138.7C672,139,768,181,864,197.3C960,213,1056,203,1152,181.3C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>
</section>
