
h3 {
    text-align: center;
    font-size: var(--fs-display);
    font-weight: 700;
    line-height: .88em;
    text-transform: uppercase;
    padding: 20px 0px;
    color: var(--accent) !important;
}

h5 {
    font-size: var(--fs-body);
    padding: 20px;
}
.aboutus-sec {
    background-color: #061823;
    padding: 40px 0px;
    color: #d6dbe1;
}

strong {
    color: var(--accent);
    font-size: var(--fs-h4);
}

b {
    /* color: var(--accent); */
    font-size: var(--fs-h4);
}
.highlight b {
    font-size: 16px !important;
}