<section class="tile1" id="visualisation">
    <div class="body">
        <h3 data-aos="fade-down">Web & Mobile Visualisation</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    With SAMA enterprise server, reports
                    can be integrated and selected
                    from drill down menu against
                    respective units or equipments.
                    Search can be made on keywords or
                    date range.
                    Access is restricted based on user
                    assignment.
                </h5>
            </div>             
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    SAMA Mobile App allows Android or IOS mobiles to view Reports from
                    mobile. Mobiles are validated by OTP & login is required. Secure data
                    transmission is ensured by additional levels of security.
                </h5>
            </div>             
        </div>
    </div>
</section>
<section class="tile2" id="doc-management">
    <div class="body">
        <h3 data-aos="fade-down">Document Management</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    SAMA Document Manager provides complete solution for all your Plant documentation needs- Engineered
                    Documents such as P&ID or Process Flow drawings, Data sheets & specifications, Instrument index, point data base,
                    hook up or installation drawings, power supply & distribution, loop drawings; equipment or system manuals;
                    procedures and standards.
                    It helps in maintaining these documents in an highly encrypted form with powerful user access control and version
                    control. Proposer user can add new documents or propose changes with a new version. Approver user approves and
                    it becomes available to assigned users for view.
                </h5>    
                <h5 class="tile-body">
                    Static documents and dynamic data
                    Static documents are those documents like P&IDs, layout drawings, process flow drawings, etc.<br>
                    ● These can be edited with the editors provided and keywords attributed, so that they be searched for
                    keywords (CAD, pdf, word excel documents can be searched without keywords also)<br>
                    ● They are related to tag numbers, equipment, units or areas or plants during configuration or later<br>
                    ● They can be part of major document categories such as standards, engineered documents, manuals,
                    procedures etc”. each these can further be sub categorized- eg engineered documents can be sub divided
                    into P&IDs, piping layout, ec.
                </h5>
                <h5 class="tile-body">
                    Dynamic Data
                    Dynamic data typically includes parameters such as instrument ranges, alarm & trip sets, tuning constants;
                    and properties such as IO allocation details which includes cable termination, junction box details, data sheet related
                    details like operating temperature, pressure etc. All such details are directly stored in relational tables the database.
                    User can query for Dynamic Data and view them, make changes, propose and approve.
                </h5>
                <h5 class="tile-body">
                    Query All these can be queried, displayed and printed based on queries on tag, equipment, unit, area hierarchy
                    AND/OR document category AND/OR document name AND OR any text.
                </h5>
                <h5>
                    
                </h5>
            </div>
        </div>  
    </div>
</section>
<section class="tile3" id="alrm-management">
    <div class="body">
        <h3 data-aos="fade-down">Alarm Management</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    SAMA Alarm Management suite of software is part of Supra Advanced Manufacturing Analytics (SAMA).
                    SAMA AS Basic package, Alerts,
                    Analysis, Metrics
                    CC TV integration.
                    Web analytics.
                    Enterprise server.
                    Master Alarm Database.
                    Dynamic Alarming.
                    Change Management, secure OPC
                    Client.
                    Rationalisation including priority
                    assist. And operator assist.
                    Root Cause Analysis module.
                </h5> 
                <h5 class="tile-body">
                    Basic Package – Data Logger with AE client Captures data from serial or
                    Ethernet ports - typically data from DCS SCADA PLC SOE SNMP Traps, Postscript
                    data, Files, ftp, OPC A&E, OPC DA, ODBC or direct connectivity with database such
                    as Structware . Alarm server handles multiple date-time formats, event definition –
                    alarms, operator actions, system diagnostic messages; track configuration changes
                    and other messages; detect and store log reports, format & archive data. Detect alarm floods. Feature Rich Client, unique set of
                    windows for each user, powerful real time search, sorting and filters.
                    Alerts can be sent based on Logical processing of events. Alerts can be made via Email, SMS, Dial out,
                    audible alerts by speakers, PLC DO, Modbus, CCTV. CCTV camera can automatically be adjusted to its
                    preset so that upon occurrence of a particular alarm, live video of equipment in alarm can be played to
                    operator. Users can be alerted in groups as well as based on Shift Rota. Escalation based on time-in-alarm as
                    well as frequency can be configured. If an alarm stays for more than say 5 minutes or f it alarms more than a
                    certain number of times in a time window, it can be escalated. With OPC DA interface, alarms can be suppressed
                    or equipment can be shut down or started, based on logical combination of alarms.
                </h5> 
                <h5 class="tile-body">
                    Analysis with dynamic charts as required by EEUMA 191 for ISA 18.2 or Priority Distribution, Standing alarms,
                    stale alarms, unacknowledged alarms, frequency, time-in-alarm & between alarms, alarm sequence
                    display, chattering alarms and symptomatic alarms. Comply with ISA 18.2 standards. View reports for
                    plant, area, unit, equipment over different time scales. Auto store, print and e mail reports.
                    Web based advanced alarm analytics for multiple users caters to multiple users- management,
                    operations, specialists across different sites based on access levels.
                </h5> 
                <h5>Advanced Alarm Management Options</h5>
                <h5 class="tile-body">
                    MADB Master Alarm Database comes with following optional applications: Change Management, Dynamic Alarming,
                    Rationalisation, Operator Assist.
                </h5>
            </div>              
        </div>
    </div>
</section>
<section class="tile4" id="change-management">
    <div class="body">
        <h3 data-aos="fade-down">Change Management</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    Dynamic data such as Alarm settings, instrument ranges etc can also be maintained, via a secure OPC DA client.
                    Can I know whether Alarm & Trip set points, ranges are same as per design or are they
                    changed without approval? Can we have access & version control for all configurable
                    parameters and know which are the ones approved?
                    Dynamic Data are those which are changed frequently, say instrument ranges, alarm &
                    trip points as well as tuning parameters. These are retrieved from control systems typically
                    through OPC. Retrieval can be scheduled or on demand, through user friendly HMIqueries
                    based on instrument, equipment, type. Multiple user roles.
                    Secure OPC Client with read - write access on a per tag level basis is offered.
                </h5>  
                <h5 class="tile-body">
                    <h5>Discrepancy List</h5>
                    you can query for Dynamic Data and view them, make changes, propose and approve.
                    Periodically, say review unauthorized changes everyday via Discrepancy list. Authorized Enforcer users may
                    write these changes to control system OPC server through secure OPC Client.
                    Change management Life cycle: Need to change - propose - approve - enforce via Secure OPC Client -
                    change design data. <br>
                    Dynamic Alarm Management Alarm settings can be automatically changed , say based on throughput or Raw material mix or
                    product Mix criteria; Or certain alarms can be suppressed or disabled and enabled based on equipment running status; or in the
                    case of batch to enable alarms only for those equipments which are in use.
                </h5>
            </div>              
        </div>
    </div>
</section>
<section class="tile5" id="rationalisation">
    <div class="body">
        <h3 data-aos="fade-down">Rationalisation</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    Rationalisation module provides the user with a simple and efficient tool along with secure OPC client.<br>
                    To ensure consistency in alarm & trip point settings for similar equipment<br>
                    To ensure correct priority is calculated for alarms<br>
                    To define Operator assist - Alarm description, consequences, action to be taken and time to respond.<br>
                    To reduce configured alarms to reduce uncontrollable alarm load<br>
                    To correct mis-configured settings, to correct alarm setting for nuisance / chattering alarms, to remove Duplicate alarms.<br>
                    To aid in State based, multi process mode alarm systems<br>
                    Audit & enforce<br>
                    Rationalization process: Query- export to XL - rationalization meeting- import XL - follow change management procedures.
                </h5>              
            </div>           
        </div>
    </div>
</section>
<section class="tile6" id="logbook">
    <div class="body">
        <h3 data-aos="fade-down">e-Logbook</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                   
                </h5>
                <div class="flow-diagram">
                    <img src="../../assets/images/e-logbook.png" class="tile_img" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tile7" id="ems-pims">
    <div class="body">
        <h3 data-aos="fade-down">EMS, PIMS</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                   
                </h5>
            </div>
        </div>
    </div>
</section>