<!-- Toolbar -->

<!-- <mat-toolbar color=""> -->
<!-- <div class="header-sec">
    <div class="">
      <div class="logo-sec">
        <img
        width="40"
        alt="Logo"
        src="../assets/images/scpl.jpg"
      />
      <span>Supra Controls PVT LTD</span>
      </div>
    </div>
    <div class="">
      <div class="menu-sec">
        <button mat-button [matMenuTriggerFor]="menu">Products</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button color="tertiary" routerLink="/page2">Contact Us</button>    
        <button mat-button color="tertiary" routerLink="/page2">Login</button>    
      </div>
    </div>
  </div> -->
<!-- </mat-toolbar> -->

<nav id="navbar" class="navbar navbar-expand-lg fixed-top py-3 shadow-sm">
  <div class="logo-sec">
    <a href="home">
      <img width="40" alt="Logo" src="../assets/images/scpl.png" class="logo" />
      <span class="title">Supra Controls Pvt ltd</span>
    </a>
  </div>
  <!-- <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">Supra Controls PVT LTD</a> -->
  <button
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbars"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler"
  >
    <!-- <span class="navbar-toggler-icon"></span> -->
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <!-- Megamenu-->
      <li class="nav-item dropdown megamenu">
        <a
          id="megamneu"
          href="products"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          class="nav-link dropdown-toggle font-weight-bold text-uppercase"
          >Products</a
        >
        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
          <div class="">
            <div class="row bg-black rounded-0 m-0 shadow-sm">
              <div class="col-lg-12 col-xl-12">
                <div class="p-4">
                  <div class="row">
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <h6 class="font-weight-bold heading text-uppercase">
                        PIMS/UHN/EMS
                      </h6>
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a
                            href="products#data_collector"
                            class="nav-link text-small"
                            >SAMA Data Collector</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#tunneller"
                            class="nav-link text-small"
                            >SAMA Tunneller</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#redundancy_server"
                            class="nav-link text-small"
                            >SAMA Redundancy Server</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#rt_historian"
                            class="nav-link text-small"
                            >SAMA RT Historian</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#op_servers"
                            class="nav-link text-small"
                            >SAMA Output Servers</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#odbc_hda_conerter"
                            class="nav-link text-small"
                            >SAMA ODBC-HDA Converter</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#web_server"
                            class="nav-link text-small"
                            >SAMA Web Server</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#mobile_app"
                            class="nav-link text-small"
                            >SAMA Mobile App</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="products#xl_reporter"
                            class="nav-link text-small"
                            >SAMA XL Reporter</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <h6 class="font-weight-bold heading text-uppercase">
                        AIMS
                      </h6>
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a
                            href="aims#data_collector"
                            class="nav-link text-small"
                            >SAMA Data Collector</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="aims#tunneller" class="nav-link text-small"
                            >SAMA Tunneller</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="aims#alarm_sever_client"
                            class="nav-link text-small"
                            >SAMA Alarm Server/Client</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="aims#opcda_client"
                            class="nav-link text-small"
                            >SAMA OPC DA Client</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="aims#alarm_alerts"
                            class="nav-link text-small"
                            >SAMA Alarm Alerts</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="aims#web_server" class="nav-link text-small"
                            >SAMA Web Server</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="aims#xl_ae_reporter"
                            class="nav-link text-small"
                            >SAMA XL AE Reporter</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            href="aims#rationalization"
                            class="nav-link text-small"
                            >SAMA Rationalization</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <h6 class="font-weight-bold heading text-uppercase">
                        ANALYTICS
                      </h6>
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA Web Client</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA Web Dashboard</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA Web AE Client</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA XL Reporter</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA XL Analytics</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA XL AE Reporter</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA RT Claculator/Client</a
                          >
                        </li>
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA Mobile App</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <h6 class="font-weight-bold heading text-uppercase">
                        DMS
                      </h6>
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA Document Management System</a
                          >
                        </li>
                      </ul>

                      <h6 class="font-weight-bold heading text-uppercase">
                        ERP
                      </h6>
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a href="" class="nav-link text-small"
                            >SAMA ERP/SAP Interfce</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown megamenu">
        <a
          id="megamneu"
          href="industries"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          class="nav-link dropdown-toggle font-weight-bold text-uppercase"
          >Industries</a
        >
        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
          <div class="">
            <div class="row bg-black rounded-0 m-0 shadow-sm">
              <div class="col-lg-12 col-xl-12">
                <div class="p-4">
                  <div class="row">
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a
                            href="industries#power
                          "
                            class="nav-link text-small"
                            >Power
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="industries#process"
                            class="nav-link text-small"
                            >Process</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a
                            href="industries#pipeline
                            "
                            class="nav-link text-small"
                            >Pipeline
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="industries#smart_city
                            "
                            class="nav-link text-small"
                            >Smart city
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a href="industries#tas" class="nav-link text-small"
                            >TAS
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown megamenu">
        <a
          id="megamneu"
          href="industries"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          class="nav-link dropdown-toggle font-weight-bold text-uppercase"
          >Services</a
        >
        <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
          <div class="">
            <div class="row bg-black rounded-0 m-0 shadow-sm">
              <div class="col-lg-12 col-xl-12">
                <div class="p-4">
                  <div class="row">
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a
                            href="servies#bi_dashboards
                          "
                            class="nav-link text-small"
                            >BI Dashboards
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="servies#web_mobile_apps
                          "
                            class="nav-link text-small"
                            >Web-Mobile Apps
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="servies#web_reports
                          "
                            class="nav-link text-small"
                            >Web Reports
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="servies#e_logbook
                          "
                            class="nav-link text-small"
                            >e Logbook
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="servies#rt_historian
                          "
                            class="nav-link text-small"
                            >RT Historian
                          </a>
                          <ul>
                            <li>
                              <a
                                href="servies#xl_reports"
                                class="nav-link text-small"
                                >XL reports
                              </a>
                            </li>
                            <li>
                              <a
                                href="servies#xl_analytics"
                                class="nav-link text-small"
                                >XL analytics
                              </a>
                            </li>
                            <li>
                              <a
                                href="services#dashboards"
                                class="nav-link text-small"
                                >Dashboards</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a
                            href="servies#rt_calculator
                          "
                            class="nav-link text-small"
                            >RT Calculator
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a
                            href="servies#alarm_management
                            "
                            class="nav-link text-small"
                            >Alarm Management
                          </a>
                          <ul>
                            <li class="nav-item">
                              <a
                                href="servies#web_analytics
                                "
                                class="nav-link text-small"
                                >Web analytics
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="servies#alarm_dashboard
                                "
                                class="nav-link text-small"
                                >Alarm dashboard
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="servies#sms_email_alerts
                                "
                                class="nav-link text-small"
                                >SMS email alerts
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="servies#cctv_app
                                "
                                class="nav-link text-small"
                                >CC TV app
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="servies#lvs_app
                                "
                                class="nav-link text-small"
                                >LVS app
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="servies#root_cause_analysis
                                "
                                class="nav-link text-small"
                                >Root Cause analysis
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="servies#rationalisation
                                "
                                class="nav-link text-small"
                                >Rationalisation
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                      <ul class="list-unstyled">
                        <li class="nav-item">
                          <a
                            href="servies#opc_products
                            "
                            class="nav-link text-small"
                            >OPC Products
                          </a>
                          <ul>
                            <li class="nav-item">
                              <a
                                href="servies#sama
                                "
                                class="nav-link text-small"
                                >SAMA
                              </a>
                              <ul>
                                <li class="nav-item">
                                  <a
                                    href="servies#data_collector
                                    "
                                    class="nav-link text-small"
                                    >Data Collector
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a
                                    href="servies#sap_erp_interface
                                    "
                                    class="nav-link text-small"
                                    >SAP-ERP interface
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a
                                    href="servies#redundancy_handler
                                    "
                                    class="nav-link text-small"
                                    >Redundancy handler
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a
                                    href="servies#tunneller
                                    "
                                    class="nav-link text-small"
                                    >Tunneller
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li class="nav-item">
                              <a
                                href="servies#relabsoft
                                "
                                class="nav-link text-small"
                                >Relabsoft
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a
                            href="servies#document_management
                            "
                            class="nav-link text-small"
                            >Document Management
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="contact-us" class="nav-link font-weight-bold text-uppercase"
          >Contact US</a
        >
      </li>
      <li class="nav-item">
        <a href="" class="nav-link font-weight-bold text-uppercase">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="loader" *ngIf="loaderVisible">
  <div class="spinner"></div>
</div>
<button class="scrolltop" *ngIf="showScrollTop" (click)="scrollToTop()">
  <img src="../assets/images/top.svg" height="40px" width="40px" />
  <!-- <img src="../assets/images/upload.gif" height="40px" width="40px"> -->
</button>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
<section class="footer-sec">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12">
      <div class="logo-sec">
        <img width="40" alt="Logo" src="../assets/images/scpl.png" />
        <span>Supra Controls Pvt ltd</span>
      </div>
      <div class="social-media-sec">
        <a href="">
          <svg
            fill="#999"
            viewBox="0 0 64 64"
            xmlns="http://www.w3.org/2000/svg"
            height="35"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title></title>
              <path
                d="M44,7H20A13,13,0,0,0,7,20V44A13,13,0,0,0,20,57H44A13,13,0,0,0,57,44V20A13,13,0,0,0,44,7ZM55,44A11,11,0,0,1,44,55H20A11,11,0,0,1,9,44V20A11,11,0,0,1,20,9H44A11,11,0,0,1,55,20Z"
              ></path>
              <path
                d="M22,25H15a1,1,0,0,0-1,1V49a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V26A1,1,0,0,0,22,25ZM21,48H16V27h5Z"
              ></path>
              <path
                d="M42,25h0a14.18,14.18,0,0,0-7,2.11V26a1,1,0,0,0-1-1H27a1,1,0,0,0-1,1V49a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V33.81A7.66,7.66,0,0,1,38,33c2.81,0,3,2,3,2.44V49a1,1,0,0,0,1,1h7a1,1,0,0,0,1-1V33.17a8.3,8.3,0,0,0-2.14-6.11A7.93,7.93,0,0,0,42,25Zm6,23H43V35.44C43,33.9,42,31,38,31a10.24,10.24,0,0,0-4.45,1.29,1,1,0,0,0-.55.89V48H28V27h5v2.06a1,1,0,0,0,1.66.75A12.31,12.31,0,0,1,42,27h0a6,6,0,0,1,4.42,1.47A6.41,6.41,0,0,1,48,33.17Z"
              ></path>
              <path
                d="M18.5,14A4.5,4.5,0,1,0,23,18.5,4.5,4.5,0,0,0,18.5,14Zm0,7A2.5,2.5,0,1,1,21,18.5,2.5,2.5,0,0,1,18.5,21Z"
              ></path>
            </g>
          </svg>
          <span>LinkedIn</span>
        </a>
      </div>
      <div class="copyright">
        ©<span id="currentYear1">2023</span> copyright
        <strong>Supra Controls Pvt Ltd </strong>. All Rights Reserved
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12">
      <div class="footer-heading">Company</div>
      <div class="footer-content">
        <li><a href="">About Us</a></li>
        <li><a href="">Terms and Conditions</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Careers</a></li>
      </div>
    </div>
  </div>
</section>
