<section class="tile1">
    <div class="container">
        <div class="body" id="root-cause-analysis">
            <h3 data-aos="fade-up">Root Cause Analysis</h3>
            <div class="row">
                <div class="col-12" data-aos="fade-up">
                    <p class="subtle">What Is the Root Cause Of A Plant Upset? Is An Instant Online Analysis Available?</p>
                    <div class="">
                        <ul class="arrow-checkmark">
                            <li>SOE Of Control System Or Alarm Logger Lists The Sequence Of Events But Does Not Help identifying The Root Cause</li>
                            <li>Process Alarms And Parameters Alone May Not Be Enough. Experience Is Important But Setting Up And Investigative Committee Might Take Weeks</li>
                        </ul>
                        <p class="subtle">Our Root Cause Analysis Package Answers The Above Concerns. The Product Provides Instant Root Cause Of Not Only Shutdown But Also Upset Conditions</p>
                    </div>
                </div> 
                <div class="features col-12" data-aos="fade-up">
                    <h5 class="">Features</h5>
                    <ul class="circle-checkmark">
                        <li>Decision Tree Based Mechanism Based On A Combination Of Result Tag (Trip Or Upset), Condition Tag, Cause Tag And Statistical Calculations</li>
                        <li>Supplemented By Most Probable Root Cause With Auto And Manual Mode Option</li>
                        <li>Visual Display Of Path Of Root Cause  And Condition</li>
                        <li>Connectivity Protocol: Class OPC (AE or DA) </li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="body" id="sap-interface">
            <h3 data-aos="fade-up">SAP Interface</h3>
            <div class="row">
                <div class="col-12" data-aos="fade-up">
                    <h5>Interface To Take Industrial Data To SAP</h5>
                    <!-- <div class="">
                        <ul class="arrow-checkmark">
                            <li>Interface To Take Industrial Data To SAP</li>
                        </ul>
                    </div> -->
                </div> 
                <div class="features col-12" data-aos="fade-up">
                    <h5 class="">Features</h5>
                    <ul class="circle-checkmark">
                        <li>Centralize Data From Batch Controllers And Meters of Tank Farm Management Systems (TFMS) And Mass Flow Meters (MFM)</li>
                        <li>Connectivity Protocols: OPC, ODBC, Flat Files</li>
                        <li>Auto Or Manual Posting Options With User Access Control</li>
                        <li>Transaction Logs For Future Reference</li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="body" id="logbook">
            <h3 data-aos="fade-up">Digital E-Logbook</h3>
            <div class="row">
                <div class="col-12">
                    <div class="grp-bg-img">
                        <img src="../../../assets/comp-img.png" alt="Computer Image" class="computer-image">
                        <img src="../../../assets/logbook.png" class="background-img"/>
                    </div>
                </div>
                <div class="features col-12" data-aos="fade-up">
                    <h5 class="">Features</h5>
                    <ul class="circle-checkmark">
                        <li>Central Database Hosting With Access To Plant LAN Enabling Plant Wide Access Based On User Restrictions</li>
                        <li>Offline Access Feature To Capture Information From The Field And Operations Area With Sync Capability After Return To WiFi Zone</li>
                        <li>User Access Control Ensuring Security Information Storage</li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="body" id="change-mgnt">
            <h3 data-aos="fade-up">Change Management</h3>
            <div class="row">
                <div class="features col-12" data-aos="fade-up">
                    <h5 class="">Features</h5>
                    <ul class="circle-checkmark">
                        <li>Database For Storage Of Design Data Such As Range, Engineering Units, Alarm Set Points And More</li>
                        <li>Provision To Change Design Data With Approprirate User Access Control In Unique Proposer/Approver Feature</li>
                        <li>Discrepancy View Between Current Value In DCS and Design Value Can Be Scheduled Per Requirement To Understand Operation Condition In Plant</li>
                        <li>Update Of Dynamic Data Via OPC, ODBC As Required</li>
                        <li>Interlock Bypass Module Also Available</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</section>