<section class="tile1">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Dashboard</h3>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">SAMA Web & Mobile Dashboards seamlessly take data from secure Web API for both real time as well as
                    aggregate functions. The dashboards freely user configurable and there can be as many dashboards as
                    needed with individual panels</h5>
                <h5 class="tile-body">
                    The dashboard visualizes data using different types of elements (dashboard items) - charts, scatter charts,
                    grids and pivot tables, maps, Treemaps, pies, cards, gauges etc. - and allows users to interact with these
                    elements. End-users can filter a dashboard using the Master Filtering feature, perform a drill-down to
                    change the detail level of data, or use dynamic parameters.
                </h5>
                <h5 class="tile-body">
                    The component supports
                    responsive render for
                    desktop and mobile devices,
                    and includes a built-in enduser
                    layout editor. The
                    Dashboard Panel is a
                    navigation bar that appears
                    next to the Dashboard
                    Surface in the Web
                    Dashboard’s UI. The panel
                    allows users to do Switch
                    between dashboards available in the dashboard storage. An example panel - Summary, Storage, unit
                    incremental productions, down time, IT assets status, Financials.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Dashboards help us analyze data with calculated fields, aggregates, window functions, dashboard
                    parameters, and other advanced functionality</h5>
               
                <div class="features">
                    <li>Calculated Fields that allow you to apply complex expressions to data fields obtained from the data
                        source. As a result, you can use these fields in data visualizations as regular data source fields.</li>
                    <li>Aggregations such as min, max, mode, median, average, sum, variance, standard deviation, count.</li>  
                    <li>Window Calculations such as running totals, moving calculations, difference, percent of totals, rank</li>
                    <li>Parameters are dynamic values that can replace constants in expressions, calculated fields, etc. You
                        can also use dashboard parameters to filter a SQL data source dynamically. Example From
                        date and To date. The dashboard parameters allow you to change the period and to display data
                        from this period.</li>
                    <li>Expression Constants, Operators, and Functions Dashboard uses criteria language that you can use
                        for building expressions. An expression is a string that evaluates some value.</li>
                </div>
                <h5 class="tile-body">
                    Informative Dashboards in responsive and tabs seamlessly stack one below another in mobile.
                </h5>
    
            </div>
        </div>  
    </div>
</section>