<section class="tile1" id="rt-historians">
    <div class="body">
        <h3 data-aos="fade-down">RT Historians</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    SAMA Real Time Historian features include connectivity to multiple OPC sources, industrial protocols & flat files; large tag
                    capacity & Database. Redundant OPC servers & multiple concurrent users are supported. Calculations required for
                    production reports are provided as
                    standard feature. Seamlessly connects to
                    RT viewer, web server as well as other
                    applications. It caters to all - oil & gas,
                    minerals & mining, power & distribution,
                    pharma & food; production, storage &
                    Distribution.
                </h5>
                <h5 class="tile-body">
                    SAMA RT Historian is OPC UA ready both
                    as source and on output. Dual redundancy
                    as well as multi site back up Options are
                    available. Example would be pipeline or
                    power grid operation from multi sites.
                    Shadow historian at level 3.5 with users
                    connectivity at level 4 is also supported.
                </h5>
                <div class="flow-diagram">
                    <img src="../../assets/images/RTHistorian.png" class="tile_img" alt="">
                </div>
                <h5 class="tile-body">
                    Our software are scalable, supports multi enterprise, multi location needs ; user specific dashboards and displays
                </h5>
            </div> 
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <p class="features-title">Specifications:</p>
                <div class="flow-diagram">
                    <img src="../../assets/images/Histfeatures.png" class="tile_img" alt="">
                </div>
                <h5 class="tile-body"></h5> 
            </div>            
        </div>
    </div>
</section>
<section class="tile2" id="alrms-events">
    <div class="body">
        <h3 data-aos="fade-down">Alarms and Events</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">

                </h5>    
            </div>
        </div>  
    </div>
</section>
<section class="tile3" id="rt-calc">
    <div class="body">
        <h3 data-aos="fade-down">RT Calculator</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    Fuel, operations, and plant design all affect the overall efficiency of a plant, as well as its carbon emissions Standards
                    for reducing carbon emissions from existing coal-fired power plants rely heavily upon generation-side efficiency
                    improvements.<br>
                    Environmental standards demand reducing carbon emissions from existing power plants. One of the main methods to
                    reduce carbon emissions is to increase Plant Heat Rate by improving efficiency.
                </h5>  
                <div class="grp-sec">
                    <h5 class="tile-body">
                        SAMA Optimiser / Calculator works with real time values independently from OPC or SAMA Historians. It is easily
                        configurable. No limits on number of calculations or schemas. Features include-<br>
                        1. Enter as an expression and see the blocks interconnection<br>
                        2. Functions supported : + - * /, Min / Max Average / Xⁿ / Matrix….<br>
                        3. Standard library of calculations such as Tank inventory, Heat exchanger
                        duty, Antoine equation, conversion to mass flow.<br>
                        4. Inputs / outputs: SAMA Historian or OPC DA<br>
                        5. Modes: Manual / Auto<br>
                        6. Multiple schemas<br>
                        Optimiser outputs real time to OPC or SAMA Historian.
                    </h5>
                </div>
                <div class="grp-sec">
                    <h5 class="tile-body">
                        Case Study- Optimal Load Distribution & scheduling
                        For thermal generating units, the cost of fuel per unit power output varies significantly with the power output of the
                        unit. Therefore one needs to consider the fuel cost characteristics of the generators while finding their optimal real
                        power outputs.
                        For economic generation scheduling to meet a particular load demand, if transmission losses are
                        neglected, all plants must operate at equal incremental production costs, subject to the constraint that the total
                        generation be equal to the demand. As the demand changes, units are loaded in such a way that the incremental
                        fuel cost (IFC) of operating units reaches
                        the same λ, the Lagrange multiplier.
                        This involves calculation of heat rate,
                        incremental fuel cost and distributing the
                        load so that incremental fuel cost remains
                        same among all generating units. Typical
                        payback period is less than 2 months.
                    </h5>
                </div>
                <div class="grp-sec">
                     <h5 class="tile-body"> 
                        SAMA RT Historian & Client Displays
                        SAMA Real Time Historian features include multiple OPC, ODBC sources, large tag
                        capacity & Database. Supports multiple concurrent users. Calculations required for
                        production reports – Max, Min, Ave, Totalizer, sum, deviation, statistical,
                        incremental values of these over a period of time are provided as standard feature.
                        Seamlessly connects to RT viewer, web server , mobile Apps as well as other
                        applications.
                     </h5>
                </div>
            </div>              
        </div>
    </div>
</section>
<section class="tile4" id="alerts">
    <div class="body">
        <h3 data-aos="fade-down">Alerts</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    SMS/E-mail carriers
                    Interactive messaging by Dial-in, SMS-in, E-mail-in
                    Alerts sent to:
                    Individual users
                    Configured user groups
                    Shift Rota
                    Time based alerts escalation
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile5" id="enterprise">
    <div class="body">
        <h3 data-aos="fade-down">Enterprise</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    SAMA provides common portal for multiple sites, alarm
                    servers, Process Historians, Documentation systems. It
                    generates standard alarm reports and custom reports. It can
                    also display non-alarm related reports generated by other
                    sources.<br>
                    Web based analytics can be used by multiple users
                    subject to access & site, plant, area hierarchy control.
                    Summary displays for management, displays for control
                    specialists, operation specialists & operatos helps
                    respective users to be focussed.
                </h5>              
            </div>           
        </div>
    </div>
</section>
<section class="tile6" id="redundancy">
    <div class="body">
        <h3 data-aos="fade-down">Redundancy & Back fill</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                   
                </h5>
            </div>
        </div>
    </div>
</section>