<section id="data_collector" class="tile1">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Data Collector</h3>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Accurate and highly reliable collection of data and alarms in the right format is the first step for performing any form of analysis. Introducing, the brand new SAMA Data Collector that connects with any data source or platform and provides output data in the format required by external clients or SAMA Tunneller.</h5>
                <div class="features">
                    <li>Data sources include OPC(UA/DA/HDA/AE), ODBC or Modbus TCP/IP</li>
                    <li>Data output formats include OPC(UA/DA/HDA/AE), ODBC, Text File or SAMA tunneller</li>  
                    <li>Multiple output clients of specific format</li>
                    <li>Handling of source redundancy</li>
                    <li>Handling of historical data</li>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <img src="../../assets/images/banner-removebg.png" class="tile_img" alt="">

                <!-- <mat-card class="tile-card">
                    <mat-card-content>
                        <div class="row">        
                            <div class="col-lg-12  col-md-12 col-xs-12">
                              <img src="../../assets/images/banner.png" class="tile_img" alt="">
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>             -->
            </div>
        </div>    
    </div>
</section>
<section id="tunneller" class="tile2">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Tunneller</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="" width="100%">               
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint ea voluptatibus, quasi eum soluta officiis blanditiis praesentium qui sapiente recusandae voluptatem magnam nostrum tenetur dolores accusantium! Atque, nobis. Nihil!</p>                  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            <mat-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus aperiam magni optio aut, quia minima non laborum nobis, suscipit exercitationem deserunt sequi ducimus nihil nulla, necessitatibus culpa numquam! Temporibus.</p>  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">Whether it is a holistic product for Process Information Management System (PIMS) or Alarm Information Management System (AIMS) or any business intelligence and analytics, internal connectivity between SAMA Data Collector and SAMA web based client applications is necessary for data transfer. SAMA Tunneller seemlessly performs this function using secure and encrypted APIs.</h5>
                <div class="features">
                   <ul>
                    <li data-aos="zoom-in-left">Data sources include OPC (UA/DA/HDA/AE)</li>
                    <li data-aos="zoom-in-left">Avoids potential DCOM issues</li>
                   </ul>
                </div>
            </div>
        </div>    
    </div>
</section>
<!-- <section id="redundancy_server" class="tile3">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Redundancy Server</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.</h5>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>    
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> 
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section> -->
<section id="rt_historian" class="tile3">
    <div class="body">
        <h3 data-aos="fade-down">SAMA RT Historian</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Data analysis involves performing data mining and data manipulation in the form of calculations over a specific time interval or applying a dead band to eliminate useless data. SAMA RT Historian connects to SAMA Data Collector and performs these and many more functionalities.</h5>
                <div class="features">
                    <ul>
                        <li data-aos="zoom-in-right">Data sources includes SAMA Data Collector</li>
                        <li data-aos="zoom-in-right">Data output formats include OPC (UA/DA/HDA) or SAMA Tunneller</li>
                        <li data-aos="zoom-in-right">Multiple output clients of specific format</li>
                        <li data-aos="zoom-in-right">Configuration and handling of calculated data</li>
                        <li data-aos="zoom-in-right">Configuration of dead band</li>
                        <li data-aos="zoom-in-right">Configuration and handling of synchronous or asynchronous data</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-xs-12">
                <mat-card class="tile-card">
                    <mat-card-content>
                        <div class="row">        
                            <div class="col-lg-12 col-md-12 col-xs-12">
                              <img src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>    
            </div>
        </div>    
    </div>
</section>
<section id="op_servers" class="tile4">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Output Servers</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="" width="100%">               
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint ea voluptatibus, quasi eum soluta officiis blanditiis praesentium qui sapiente recusandae voluptatem magnam nostrum tenetur dolores accusantium! Atque, nobis. Nihil!</p>                  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            <mat-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus aperiam magni optio aut, quia minima non laborum nobis, suscipit exercitationem deserunt sequi ducimus nihil nulla, necessitatibus culpa numquam! Temporibus.</p>  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">At times, companies wish to perform data analysis using their own tools but only need a data source of a specific format with optional provision of multi client license. SAMA Output Servers provide raw and historical data by behaving as data sources.</h5>
                <div class="features">
                    <ul>
                        <li  data-aos="zoom-in-left">Data output format include OPC(UA/DA/HDA), ODBC or SAMA Tunneller</li>
                        <li  data-aos="zoom-in-left">Optional provision for multi client license</li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>
<section id="odbc_hda_conerter" class="tile5">
    <div class="body">
        <h3 data-aos="fade-down">SAMA ODBC HDA Converter</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">Real time data and historical data are used for data analysis or monitoring utilizing SAMA applications. Therefore, historical data is made accessible to SAMA analytics applications by pulling data stored in the database and converting to historical OPC architecture</h5>
            </div>

            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">  
                                    <h5>Title</h5>      
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>    
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <mat-card-content>
                                <div class="row">        
                                    <div class="col-lg-6 col-md-6 col-xs-12 ">     
                                        <h5>Title</h5>   
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> 
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                                    </div>
                                    <div class="col-lg-6  col-md-6 col-xs-12">
                                      <img src="https://supracontrols.com/assets/supra/E7.jpg" class="tile-img" alt="">
                                    </div>
                                </div>
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>
<section id="web_server" class="tile6">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Web Server</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="" width="100%">               
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint ea voluptatibus, quasi eum soluta officiis blanditiis praesentium qui sapiente recusandae voluptatem magnam nostrum tenetur dolores accusantium! Atque, nobis. Nihil!</p>                  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            <mat-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus aperiam magni optio aut, quia minima non laborum nobis, suscipit exercitationem deserunt sequi ducimus nihil nulla, necessitatibus culpa numquam! Temporibus.</p>  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">The bottomline of all manufacturing or power industries is money. The premier Saas (web) based product from Supra Controls is to provide both the management and technical team the tools to perform data analysis and business intelligence on the fly for plant, facility or grid performance management and business management. This powerful tool is built on encrypted APIs, high cyber security standards and user access control to ensure a highly secure product for monitoring and control.</h5>
                <div class="features">
                    <ul>
                        <li data-aos="zoom-in-left">User access control</li>
                        <li data-aos="zoom-in-left">Dashboard UI for analyzing real time data in the form of trends, monickers, tickers, charts, tabulations, maps etc</li>
                        <li data-aos="zoom-in-left">Advanced trends for real time vs real time, historical vs historical, real time vs historical analysis</li>
                        <li data-aos="zoom-in-left">Advanced analysis charts such as surface charts, violin plots, box plots, scatter plots etc</li>
                        <li data-aos="zoom-in-left">Graphics of plants, facilities and single line diagrams to view real time data on the go</li>
                        <li data-aos="zoom-in-left">KPI gadgets and tabulations to visualize numerical data</li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>
<section id="mobile_app" class="tile7">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Mobile App</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-right" >
                <h5  class="tile-body">The bottomline of all manufacturing or power industries is money. The premier Saas (web) based product from Supra Controls is to provide both the management and technical team the tools to perform data analysis and business intelligence on the fly for plant, facility or grid performance management and business management. This powerful tool is built on encrypted APIs, high cyber security standards and user access control to ensure a highly secure product for monitoring.</h5>
            </div>

            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <img mat-card-image src="../../assets/images/app-img1.png" class="tile_img" alt="">      
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <img mat-card-image src="../../assets/images/app-img1.png" class="tile_img" alt="">
                        <!-- <mat-card class="tile-card">
                            <mat-card-content>
                            </mat-card-content>
                          </mat-card>             -->
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>
<section id="xl_reporter" class="tile8">
    <div class="body">
        <h3 data-aos="fade-down">SAMA XL Reporter</h3>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E3.jpg" class="tile-img" alt="" width="100%">               
                            <mat-card-content>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint ea voluptatibus, quasi eum soluta officiis blanditiis praesentium qui sapiente recusandae voluptatem magnam nostrum tenetur dolores accusantium! Atque, nobis. Nihil!</p>                  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12">
                        <mat-card class="tile-card">
                            <img mat-card-image  src="https://supracontrols.com/assets/supra/E8.jpg" class="tile-img" alt="">
                            <mat-card-content>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus aperiam magni optio aut, quia minima non laborum nobis, suscipit exercitationem deserunt sequi ducimus nihil nulla, necessitatibus culpa numquam! Temporibus.</p>  
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>                  
                            </mat-card-content>
                          </mat-card>            
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12" data-aos="zoom-in-left" >
                <h5  class="tile-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime.Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Aut voluptate, blanditiis cupiditate laborum exercitationem dolores iste, ut minima minus voluptas quia explicabo harum optio ipsam rem inventore maxime</h5>
            </div>
        </div>    
    </div>
</section>
