<section class="tile1" id="opc-ua">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC UA wrapper for DA / HDA converter</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <div class="tile-sec">
                    <h5  class="tile-body">
                        For HDA, only Readraw functions will be available.
                    </h5>  
                    <div class="img-grp-sec">
                        <img src="../../../assets/images/database.gif">
                        <div class="dataflow">
                            <div class="data"></div>
                            <div class="data"></div>
                            <div class="data"></div>
                            <div class="data"></div>
                            <div class="data"></div>
                            <div class="data"></div>
                            <div class="data"></div>
                            <div class="data"></div>
                            <div class="data"></div>
                        </div>
                        <img src="../../../assets/images/apps.gif">
                    </div>
    
                </div>
            </div>              
        </div>
    </div>
</section>
<section class="tile1" id="modbus-opc-server">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Modbus OPC Server</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    No limit on number of RTUs or tags are imposed by us on this product.. This OPC Server interacts with Modbus
                    supportive devices via TCP that includes Unlimited Register Access, Range Mapping, Import facility for Tag Naming of
                    Registers and Scaling for Register Values. For other industrial protocols, contact us.
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile2" id="opcda-server">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC DA Server for ODBC</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">This OPC Server seamlessly connects with different ODBC sources and provides the Process values through SAMA OPC
                DA Server. Multiple source connectivity, Multiple Table connectivity is possible for taking the Process values from
                ODBC.</h5>    
            </div>
        </div>  
    </div>
</section>
<section class="tile2" id="integrated_collector">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Integrated collector for OPC DA, ODBC & Modbus</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5 class="tile-body">
                    SAMA collector reads data from OPC DA, ODBC & Modbus. Multiple channels can be created for each connectivity type.
                    The collected data can be posted on ODBC compliant database such as Microso􀅌 SQL. Users can connect via ODBC for
                    Their applications. Auto reconnect & retry can be configured, apart from souece selection. Specify number of sources
                    Needed as well as number of tags. This model is available for transactions also, such as may be required for product
                    Transfer.
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile3" id="tunneller">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC Tunneller for OPC DA & HDA</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    SAMA OPC Tunneller for DA: Multiple clients can communicate with one server side component. Standqard is 1 pair.
                    For HDA, we support only ReadRaw of the HDA specification (Read processed is not supported). Requires Dot net 4.5
                    and above installed on the system..
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile3" id="redundancy">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC Redundancy Switch</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    Seamlessly connect to redundant OPC DA & HDA servers. Features include csv tag import, auto switch over and
                    manual switchover, retry and number of retries before switchover are standard features.
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile4" id="opc-converter">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC Converters</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    Post your data from multiple.OPC sources to a single OPC server and avoid communication & performance issues.
                    This is a highly robust and reliable OPC convertor which is useful in converting DA Server Tags to HDA and vice versa.
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile4" id="opc-odbc">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC-ODBC-OPC</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    Many applications require OPC DA data to be wri􀆩en to SQL. SQL user in turn updates it. These data may have to be
                    Wri􀆩en back to OPC server. This tools is widely used, especially in multi- party integration.
                </h5>  
            </div>              
        </div>
    </div>c
</section>
<section class="tile5" id="alrm-events">
    <div class="body">
        <h3 data-aos="fade-down">SAMA OPC DA - Alarm Events generator in Real time</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    OPC DA to Alarms & events generation with configurable set points, dead-band and operators such as >, < , =,
                    Not equal to, between. Alert personnel with SMS, e mail, audio or telephony when limits are exceeded OR
                    escalate. Send message to Large Video screen
                </h5>              
            </div>           
        </div>
    </div>
</section>

<section class="tile5" id="erp-interface">
    <div class="body">
        <h3 data-aos="fade-down">SAMA MFM / Modbus / OPC DA to SAP- ERP InterfaceS</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    AMA SAP or ERP interface can post your production & consumption, tank farm data to SAP or ERP systems. Further,
                    instructions from Planning or scheduling or SAP / ERP can be transferred to control systems. Multiple connectivity
                    options are available such as web posting or client to ERP/SAP systems or OPC and ODBC.
                    Data from control system can be production or consumption data; from continuous process, tank farm and batch
                    processes. Examples of continuous process & tank farm data are production & consumption quantities such as
                    Periodic instantaneous values, averages, maximum & minimum values, sum and totaliser values, statistical data such
                    as standard deviation & variance as well as incremental values on all these. Analysis results or lab can be integrated.
                </h5>
                    
            </div> 
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="flow-diagram">
                    <img src="../../assets/images/SAPinterface.jpeg" class="tile_img" alt="">
                </div>
            </div>           
        </div>
    </div>
</section>

<section class="tile6" id="web-api">
    <div class="body">
        <h3 data-aos="fade-down">SAMA Web API</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    Web API provides data to our web clients from ODBC or OPC DA or OPC HDA or OPC AE. Web clients
                    cater to modern cyber security needs. Offers Powerful multi pen trender, graphical displays, dashboards,
                    KPI displays & smart analytics..
                </h5>
                    
            </div>
                
        </div>
    </div>
</section>