.para_content {
    font-size: var(--fs-lead);
}
/* .title{
    background-color: #2f96e5;
    padding: 10px 5px;
    color: #fff;
} */

.title {
    font-size:var(--fs-display);
    font-weight: 600;
}

::ng-deep .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 20px;
  }
  
  ::ng-deep .option {
    margin-top: 10px;
  }
  
  ::ng-deep .caption {
    font-size: var(--fs-lead);
    font-weight: 500;
  }
  
  ::ng-deep .option > span {
    margin-right: 10px;
  }
  
  ::ng-deep .option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
  }
  