<div class="content">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">
            <div id="chart-demo">
                <dx-chart
                  palette="violet"
                  [dataSource]="architecturesInfo"
                  title="Architecture Share Over Time (Count)"
                >
                  <dxi-series valueField="smp" name="SMP"></dxi-series>
                  <dxi-series valueField="mmp" name="MMP"></dxi-series>
                  <dxi-series valueField="cnstl" name="Cnstl"></dxi-series>
                  <dxi-series valueField="cluster" name="Cluster"></dxi-series>
                  <dxo-common-series-settings
                    #seriesSettings
                    argumentField="datetime"
                    type="spline"
                  >
                  </dxo-common-series-settings>
                  <dxo-margin [bottom]="20"></dxo-margin>
                  <dxo-common-axis-settings>
                    <dxo-grid [visible]="false"></dxo-grid>
                  </dxo-common-axis-settings>
                  <dxo-legend verticalAlignment="top" horizontalAlignment="center">
                  </dxo-legend>
                  <dxi-value-axis>
                    <dxo-title text="Alarm Count"></dxo-title>
                  </dxi-value-axis>
                  <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60" title="Curent Time">
                    <dxo-label>
                      <dxo-format type="decimal"></dxo-format>
                    </dxo-label>
                  </dxo-argument-axis>
                  <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
                  <!-- <dxo-export [enabled]="true"></dxo-export> -->
                  <dxo-tooltip [enabled]="true"></dxo-tooltip>
                </dx-chart>
            </div>          
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="para_content">
                <h5 class="title">Dynamic data with Alarm Management</h5>
                <h2>SAMA Website developed by <br>
                  Suresh Jayaraman from Supra Controls Pvt Ltd</h2>
                <p>Dynamic data such as Alarm settings, instrument ranges etc can also be maintained, via a secure OPC DA client.</p>
                <ul>
                    <li>Can I know whether Alarm & Trip set points, ranges are same as per design or are they changed without approval? Can we have access & version control for all configurable parameters and know which are the ones approved? Dynamic Data are those which are changed frequently, say instrument ranges, alarm & trip points as well as tuning parameters. </li>
                    <li>These are retrieved from control systems typically through OPC.</li>
                    <li>Retrieval can be scheduled or on demand</li>
                    <li>Through user friendly HMIqueries based on instrument, equipment type</li>
                    <li>Multiple user roles. Secure OPC Client with read - write access on a per tag level basis is offered.</li>    
                </ul>
            </div>
        </div>
    </div>
</div>
