<section class="tile1">
    <div class="container">
        <div class="body" id="doc-mgnt">
            <h3 data-aos="fade-up">DOCUMENT MANAGEMENT SYSTEM</h3>
            <div class="row">
                <div class="col-12" data-aos="fade-up">
                    <h5>One Place Storage For All Documents</h5>
                    <div class="">
                        <ul class="arrow-checkmark">
                            <li>Independent Application With Server/Client Model</li>
                            <li>Web Client For Enterprise Access For Storage And File Sharing</li>
                            <li>Keyword Based Search For Instant Results</li>
                            <li>Powerful Audit Trail To Ensure All Activities Are Recorded</li>
                        </ul>
                    </div>
                </div> 
                <div class="features col-12" data-aos="fade-up">
                    <h5 class="">Features</h5>
                    <ul class="circle-checkmark">
                        <li>User Access Control Propose/Approve Model To Ensure Secure Document Storage In The Database</li>
                        <li>Document Storage By Structure And Hierarchy (ISA 95) Or Grid Management Levels</li>
                        <li>Ensure Document Recordkeeping By Version Control</li>
                        <li>Document Formats Include text, xls, xlsm, xlsx, pdf, CAD files, MS access, doc, docx, ppt etc </li>
                        <li>Optional Storage Of Parameters Including  Instrument Ranges, Alarm And Trip Settings, Tuning Constants And I/O Allocation Including Cable terminations, Junction Box Details Etc</li>
                        <li>Relational Database Provision To Combine Documents And Parameters/IO Allocation</li>
                        <li>Provision For File Sharing On Web Client</li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="body" id="opc-products">
            <h3 data-aos="fade-up">OPC PRODUCTS</h3>
            <div class="row">
                <div class="col-12" data-aos="fade-up">
                    <h5>OPC UA AND MQTT</h5>
       
                </div> 
                <div class="col-12" data-aos="fade-up">
                    <h5>MODBUS TO OPC SERVER</h5>
                    <div class="">
                        <ul class="arrow-checkmark">
                            <li>Communicates With Modbus Supported Devices Via TCP/IP With Unlimited Registry Access And Mapping</li>
                        </ul>
                    </div>
                </div> 
                <div class="col-12" data-aos="fade-up">
                    <h5>OPC DA SERVER FOR ODBC</h5>
                    <div class="">
                        <ul class="arrow-checkmark">
                            <li>Connects To Multiple ODBC Source And Outputs Process Data Via SAMA OPC DA Server</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12" data-aos="fade-up" id="data-collectors">
                    <h5>INTEGRATED COLLECTOR</h5>
                    <div class="">
                        <h5>Solution To Integrate Legacy Systems</h5>
                        <ul class="arrow-checkmark">
                            <li>Reads Data From Classic OPC, ODBC and Modbus</li>
                            <li>Multiple Channels For Each Connectivity</li>
                            <li>Collected Data Can Be Posted Onto ODBC Complaint Database</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12" data-aos="fade-up">
                    <h5>OPC TUNNELLER</h5>
                    <div class="">
                        <ul class="arrow-checkmark">
                            <li>Multi (Or Single) Client – Single Server Configuration</li>
                            <li>OPC HDA Read Raw Is Supported</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12" data-aos="fade-up">
                    <h5>OPC REDUNDANCY SWITCH</h5>
                    <div class="">
                        <ul class="arrow-checkmark">
                            <li>Ascertain Redundant OPC Data Sources Are Captured Ensuring No Data Loss</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12" data-aos="fade-up">
                    <h5>OPC CONVERTER</h5>
                    <div class="">
                        <ul class="arrow-checkmark">
                            <li>Post Data From Multiple OPC Source To Single OPC Server  </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>