<section class="top-content">
  <div class="product-sec container">
    <a class="menu-link" href="dashboard">
      <mat-card class="card-sec">
        <mat-card-content>
          <h5 class="title">Dashboard</h5>
        </mat-card-content>

        <img
          src="../../assets/images/dashboard-icon.png"
          class="icon-img"
          alt=""
          width="100%"
        />
      </mat-card>
    </a>
    <a class="menu-link" href="connectivity">
      <mat-card class="card-sec">
        <mat-card-content>
          <h5 class="title">Connectivity</h5>
        </mat-card-content>

        <img
          src="../../assets/images/neural.png"
          class="icon-img"
          alt=""
          width="100%"
        />
      </mat-card>
    </a>
    <a class="menu-link" href="analytics">
    <mat-card class="card-sec">
      <mat-card-content>
        <h5 class="title">Analytics</h5>
      </mat-card-content>

      <img
        src="../../assets/images/analysis.png"
        class="icon-img"
        alt=""
        width="100%"
      />
    </mat-card>
  </a>
  <a class="menu-link" href="historians">
    <mat-card class="card-sec">
      <mat-card-content>
        <h5 class="title">Historians</h5>
      </mat-card-content>

      <img
        src="../../assets/images/trends.png"
        class="icon-img"
        alt=""
        width="100%"
      />
    </mat-card>
  </a>
  <a class="menu-link" href="digitalisation">
    <mat-card class="card-sec">
      <mat-card-content>
        <h5 class="title">Digitalisation</h5>
      </mat-card-content>

      <img
        src="../../assets/images/management.png"
        class="icon-img"
        alt=""
        width="100%"
      />
    </mat-card>
  </a>
  </div>
  <h3>
    Introducing SAMA: Empowering Your Data Analytics and Business Intelligence
    Journey
  </h3>  
  <div class="banner_sec container">
    <div class="col" data-aos="zoom-in" data-aos-delay="100">
      <p>
        <span>
          Unlock the full potential of your data with SAMA, the ultimate
          solution for data analytics. Our cutting-edge suite of products and
          services is designed to revolutionize the way you analyze, interpret,
          and leverage data to make informed decisions and drive business
          growth. Whether you're a small startup, a mid-sized company, or a
          large enterprise, Supra Controls has the tools you need to harness the
          power of data and propel your organization to new heights.
        </span>
      </p>
    </div>
    <div class="col">
      <!-- <div> -->
        <video class="video-sec" autoplay="true" loop="true" preload="auto" >
          <source src="../../assets/demo2.mp4" type="video/mp4">
        </video>
      <!-- </div> -->
     
      <!-- <div class="swiper banner-swiper" #swiperContainer>
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let slide of bannerslides">
            <p>{{ slide.text }}</p>
            <img [src]="slide.imgSrc" alt="svg" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>   -->
      <!-- <img
        src="../../assets/images/lap_mockup.png"
        height="100%"
        width="100%"
        class="banner-img"
      /> -->
    </div>
  </div>
</section>
<section class="tile-sec">
  <h3 data-aos="fade-down">
    <span class="text-center">Unleash the Power of Data</span>
  </h3>
  <div class="body container">
    <div class="swiper" #swiper1Container data-aos="zoom-in">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let slide of slides">
          <p>{{ slide.text }}</p>
          <img [src]="slide.imgSrc" alt="svg" />
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="test-sec">
  <h3 data-aos="fade-up">
    <span class="text-center">Testimonials</span>
  </h3>
  <div class="body container">
    <div class="swiper" #swiperContainer2 data-aos="zoom-in">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of testimonialItems">
          <div class="test-wrap mt-4" data-aos="fade-down">
            <span class="date">{{ item.title }}</span>
            <h2></h2>
            <span class="position">{{ item.company_name }}</span>
            <p class="mt-2">Dear Sir <br>{{ item.description }}</p>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
</section>

<section class="news-sec">
  <h3 data-aos="fade-down">
    <span class="text-center">News Updates</span>
  </h3>
  <div class="body container">
    <div class="swiper" #swiperContainer1 data-aos="zoom-in">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of items">
          <span class="date">{{ item.date }}</span>
          <p>{{ item.content }}</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="content-sec">
  <h3 data-aos="fade-down">
    <span class="text-center">Why choose Supra Controls?</span>
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/user.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">User Friendly</h5>
            <p>
              Our intuitive interface and user-centric design ensure that anyone
              can become a data analytics superhero, regardless of technical
              expertise
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/scalable.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">Scalable</h5>
            <p>
              From startups to enterprise-level organizations, Supra Controls SAMA
              line of products scales with your business needs, allowing you to
              unlock new insights as your data grows
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/integration.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">Seamless Integration</h5>
            <p>
              Connect with a wide range of data sources and applications, enabling
              you to leverage your existing data infrastructure and maximize ROI
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/support.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">Reliable Support</h5>
            <p>
              Our dedicated support team is always ready to assist you, ensuring a
              smooth implementation process and providing ongoing support to drive
              your success
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>  
  </div>
</section>
<section class="keyframe-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xs-12">
        <div class="circle-indicator" data-aos="zoom-in">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#FB8324'"
            [innerStrokeColor]="'#FB8324'"
            [backgroundColor]="'#061823'"
            [animation]="true"
            [lazy]="true"
            [animationDuration]="800"
            titleFontSize="40"
            subtitleFontSize="25"
            titleColor="#FB8324"
            subtitleColor="#FB8324"
            unitsColor="#FB8324"
            unitsFontSize="15"
          ></circle-progress>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-6 col-xs-12" data-aos="zoom-in">
        <p class="content-title">
          Our data analytics and alerting products power decision making in over
          90% of refineries across India
        </p>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12" data-aos="zoom-in">
        <p class="content-title">
          Our data driven products are utilized in almost all major critical
          industries across India, South East Asia, Africa and the Middle East
        </p>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12">
        <div id="chart" #chart></div>
        <!-- <dx-pie-chart
                  id="pie"
                  type="doughnut"
                  palette="Soft Pastel"
                  [dataSource]="populationByRegions"
                  [innerRadius]="0.85"
                  [animation]="false"
                  >
                  <dxi-series argumentField="region">
                      <dxo-label [visible]="true" format="millions">
                      <dxo-connector [visible]="true"></dxo-connector>
                      </dxo-label>
                  </dxi-series>
                  <dxo-legend
                      [margin]="0"
                      horizontalAlignment="right"
                      verticalAlignment="top"
                  ></dxo-legend>
              </dx-pie-chart> -->
      </div>
    </div>  
  </div>
</section>
<section class="testimonials-sec">
  <h3 data-aos="fade-down">Our World Wide Footprint</h3>

  <div class="world-map" data-aos="zoom-in">
    <img src="../../assets/images/worldmap.png" class="map-img" />
    <div class="pin ind"></div>
    <div class="pin nig"></div>
    <div class="pin uae"></div>
    <div class="pin raj"></div>
    <div class="pin vtm"></div>
  </div>
</section>
