.top-content {
  background-color: #ffffff;
  padding: 20px 30px 10px 30px;
}

.banner_sec {
  flex-wrap: wrap;
  align-items: end;
  margin: auto;
  position: relative;
  justify-content: flex-start;
}
.banner_sec .banner-img {
  object-fit: contain;
  height: 530px;
}

.video-sec {
  /* position: absolute; */
  /* top: 42px; */
  width: 450px;
  /* left: 18%; */
  height: 350px;
}
.main-info  {
  position: absolute;
  top: 70%;
  left: 60%;
}
.main-info h5{
  font-size: 40px;
  color: #061823;
  text-transform: uppercase;
  font-weight: 700;
}
.main-info .fst {
  color: #fb8324;
}

.main-info .thrd {
  color: #fb8324;
}

.highlight1 p{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 10px;
  color: #fb8324;
  text-transform: uppercase;
  text-align: center;
  color: #fb8324;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; */
}

.highlight2 p{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 10px;
  text-align: center;
  color: #fb8324;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  text-transform: uppercase;
}

.banner_sec .banner-swiper {
  width: 700px;
  height: 100%;
  object-fit: cover;
}
.banner_sec .banner-swiper .swiper-title {
  color: #000;
  padding: 10px 0px;
}

.top-content h3 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #061823;
  padding: 5px 0px;
  text-align: start;
}
.top-content h3 .imp {
  color: #fb8324;
}
.top-content p {
  color: #061823;
}
.product-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product-sec .menu-link {
  text-decoration: none !important;
  color: #000 !important;
}
.product-sec .card-sec {
  padding: 10px;
  border-radius: 12px;
  height: 120px;
  width: 200px;
  box-shadow: -1.8rem 0.2rem 1.2rem 0 rgba(23, 39, 59, 0.1);
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin: 10px 0px;
  /* cursor: url('../../assets/images/loading.png'), auto; */
}
.product-sec .card-sec .title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.product-sec .card-sec:hover {
	background: rgb(27 163 169);
  border: 1px solid #fff;
}
.product-sec .card-sec:hover .icon-img{
	background-color: #fff;
}
.product-sec .card-sec:hover .title {
  color: #fff;
}
.product-sec .icon-img {
  background-color: rgba(182, 71, 47, 0.1);
  padding: 12px;
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin: auto;
}
p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.tile-sec {
  background-color: #f5f5f5;
  padding: 50px 20px;
}

.tile-sec h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.88em;
  text-transform: uppercase;
}
.tile-sec h3 span {
  display: block;
}
.text-align-start {
  text-align: start;
}
.text-align-end {
  text-align: end;
}
.tile-sec .body {
  padding: 40px 10px;
}
.tile-card {
  box-shadow: -1.8rem 0.2rem 1.2rem 0 rgba(23, 39, 59, 0.1);
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin: 10px 0px;
}

.tile-card:hover {
  box-shadow: 0.2rem 0.2rem 5rem 0 rgba(23, 39, 59, 0.15);
  transform: translateY(-0.4rem);
}
.tile-card h5 {
  color: #575a5d;
}
.tile-card p {
  color: #8f9297;
  font-size: 15px;
  line-height: 1.5;
}
.tile-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.tile-body {
  font-size: 30px;
  padding: 30px 20px;
}

mat-card-title {
  font-size: 30px;
  font-weight: 600;
}
.tile-sec .swiper-title {
  color: #000;
  padding: 10px 0px;
}
.tile-sec .swiper-slide {
  width: 300px;
  height: 270px;
  background: rgba(204, 204, 204, 0.2);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
}

.tile-sec .swiper-slide p {
  color: #000;
  padding: 10px;
}

.tile-sec .swiper-slide img {
  height: 150px;
  width: 150px;
}

.tile-sec .swiper-button-next,
.tile-sec .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
.content-sec {
  background-color: #ffffff;
  padding: 50px 20px;
}
.content-sec h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.88em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #061823;
}
.content-sec .card-sec {
  padding: 15px;
  border-radius: 12px;
  height: 450px;
  box-shadow: -1.8rem 0.2rem 1.2rem 0 rgba(23, 39, 59, 0.1);
  background-color: #061823;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin: 10px 0px;
}

.content-sec .title {
  color: #fb8324;
  font-size: 20px;
  /* text-transform: uppercase; */
  font-weight: 600;
  margin-bottom: 30px;
}
.content-sec p {
  font-size: 15px;
  color: #fb8324;
  font-weight: normal;
}

.content-sec .icon-img {
  background-color: rgba(182, 71, 47, 0.1);
  padding: 12px;
  margin: 10px;
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
.keyframe-sec {
  background-color: #061823;
  /* background: linear-gradient(110deg, #7B7B7C 60%, #7b7b7cba 60%); */
  padding: 40px 0px;
}

.keyframe-sec .row {
  align-items: center;
}
.keyframe-sec .content-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #fb8324;
  padding: 10px;
  width: 300px;
}
.keyframe-sec #chart {
  width: 100%;
  height: 200px;
}
.info-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-sec {
  background-color: #061823;
  /* background: linear-gradient(110deg, #7B7B7C 60%, #7b7b7cba 60%); */
  padding: 30px 0px;
}
.products-sec h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.88em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.grp-sec {
  color: #fb8324;
  text-transform: uppercase;
  border-top: 2px solid #fb8324;
  padding: 30px 0px;
}
.grp-sec h5 {
  text-align: center;
  padding: 20px 0px;
}
.info-img {
  filter: hue-rotate(275deg) saturate(1.5) brightness(1.2) contrast(1.5);
  height: 55px;
  width: 70px;
  margin-right: 10px;
}
.circle-bg {
  padding: 30px;
  border-radius: 100%;
  /* background-color: #061823; */
  color: #061823;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.circle-bg h5 {
  text-align: center;
}
.circle-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.testimonials-sec {
  /* background-color: #f0ebe3; */
  padding: 30px 20px;
  /* background: linear-gradient(110deg, #f0ebe3 60%, #7b7b7cba 60%); */
}

.testimonials-sec h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.88em;
  text-transform: uppercase;
  color: #061823;
}

.world-map {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

.world-map .map-img {
  width: 100%;
  /* max-width: calc(100% - 80px); */
}
.pin {
  background: #fb8324;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}

.pin::before {
  content: "";
  background: #fb8324;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
}

.nig {
  top: 63%;
  left: 49%;
}
.afg {
  top: 53%;
  left: 64%;
}
.ind {
  top: 60%;
  left: 68%;
}
.chn {
  top: 62.5%;
  left: 67.9%;
}
.uae {
  top: 59%;
  left: 62%;
}
.uae2 {
  top: 59%;
  left: 60%;
}
.bhutan {
  top: 57%;
  left: 71%;
}
.bangladesh {
  top: 58%;
  left: 70%;
}
.lagos {
  top: 62%;
  left: 75%;
}
.indo {
  top: 69%;
  left: 75%;
}
.philip {
  top: 61.5%;
  left: 79.5%;
}
@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

@media (min-width: 0px) and (max-width: 479px) {
  .banner_sec {
    flex-direction: column;
  }
  .banner_sec .banner-img {
    height:220px;
    /* object-fit: fill; */
  }
  .main-info {
    top: 50%;
    left: 66%;
  }
  .main-info h5 {
    font-size: 16px;
  }
  .body {
    padding: 10px;
  }
  .top-content h3 {
    font-size: 16px;
  }
  .tile-sec h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .products-sec h3 {
    margin-bottom: 25px;
    font-size: 30px;
  }
  .content-sec h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .content-sec .card-sec {
    height: 350px;
  }
  .test-sec .card-sec {
    height: 100% !important;
    width: 100% !important;
  }
  .swiper-slide {
    height: 900px;
    flex-wrap: wrap-reverse;
  }
  .testimonialItems-sec {
    flex-direction: column;
  }
  .testimonials-sec h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .keyframe-sec .content-title {
    text-align: center;
    font-size: 20px;
  }
  .grp-sec h5 {
    font-size: 16px;
  }
  .circle-bg {
    padding: 0px;
  }
  .highlight1 p {
    font-size: 20px;
  } 
  .highlight2 p {
    font-size: 20px;
  }
  .info-sec {
    flex-wrap: wrap;
  }
  .pin {
    width: 0.2em;
    height: 0.2em;
  }
  .nig {
    top: 63%;
    left: 50%;
  }
  .bangladesh {
    top: 56.5%;
    left: 70%;
  }
  .ind {
    top: 60%;
    left: 67.5%;
  }
  .chn {
    top: 62%;
    left: 67.2%;
  }
  .afg {
    top: 53%;
    left: 63%;
  }
  .uae {
    top: 59%;
    left: 61%;
  }
  .uae2 {
    top: 59%;
    left: 59%;
  }
  .bhutan {
    top: 58%;
    left: 69%;
  }
  .lagos {
    top: 60.5%;
    left: 73.5%;
  }
  .indo {
    top: 67.5%;
    left: 73.5%;
  }
  .philip {
    top: 60.6%;
    left: 78.2%;
  }
  .info-sec {
    flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .banner_sec {
    flex-direction: column;
  }
  .banner_sec .banner-img {
    height:350px;
    /* object-fit: fill; */
  }
  .main-info {
    top: 40%;
    left: 74%;
  }
  .main-info h5 {
    font-size: 27px;
  }
  .top-content h3 {
    font-size: 27px;
  }
  .swiper-slide {
    height: 600px;
    flex-wrap: wrap-reverse;
  }
  .keyframe-sec .content-title {
    font-size: 20px;
  }
  .circle-bg {
    padding: 0px;
  }
  .highlight1 p {
    font-size: 20px;
  } 
  .highlight2 p {
    font-size: 20px;
  }
  .info-sec {
    flex-wrap: wrap;
  }
  .testimonialItems-sec{
    flex-wrap: wrap;
  }
  .test-sec .card-sec {
    height: 250px !important;
    width: 100% !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-info {
      top: 60%;
      left: 70%;
  }
  .main-info h5 {
    font-size: 35px;
  }
}
.hs-ellipse {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  background: url(https://ik.imagekit.io/2eribsa8w/ellipse_0zs3q5ittMa.png)
    no-repeat center center / contain;
  border-radius: 50%;
  top: 30%;
  left: 70%;
  opacity: 0;
  animation: ellipseRotate 10s linear infinite;
}
.arrow-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #28a745; /* Green color for arrow */
  animation: moveUp 1.5s infinite;
}

.triangle.inverted {
  /* transform: rotate(180deg); */
  margin-top: -8px; /* Overlap the triangles slightly */
  animation-delay: 0.5s; /* Delay for the second triangle */
}

/* Keyframe animation to move the triangle up and down */
@keyframes moveUp {
  0% {
      transform: translateY(0) rotate(0);
  }
  50% {
      transform: translateY(-20px) rotate(0);
  }
  100% {
      transform: translateY(0) rotate(0);
  }
}

/* Apply animation to the arrow */
.arrow-container {
  animation: moveUp 2s infinite;
}
/* test sec */
.test-sec {
  background-color: #061823;
  padding: 50px 20px;
}
.test-sec h3 {
  text-align: center;
  font-weight: 700 !important;
  line-height: 0.88em;
  text-transform: uppercase;
  margin-bottom: 50px !important;
  color: #fb8324;
  font-size: 40px;
}
.test-sec .card-sec {
  padding: 15px;
  border-radius: 12px;
  height: 450px;
  width: 350px;
  box-shadow: -1.8rem 0.2rem 1.2rem 0 rgba(23, 39, 59, 0.1);
  background-color: #ffffff;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin: 10px 0px;
}
.test-sec .title {
  color: #fb8324;
  font-size: 20px;
  /* text-transform: uppercase; */
  font-weight: 600;
  margin-bottom: 30px;
}
.test-sec p {
  font-size: 15px;
  color: #061823;
  font-weight: normal;
}
.testimonialItems-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.test-wrap {
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.test-wrap .date {
  font-weight: 900;
  font-size: 18px;
  color: #ffbd39;
}
.test-wrap h2 {
  font-size: 26px;
}
.test-wrap .position {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.test-wrap p {
  color: #000;
  height: 100px;
}

.test-sec .swiper-slide {
  height: 300px;
}
