<section class="top-content"> 
  <div class="container">
    <h3>
      Introducing <span class="imp">SAMA: </span>Supra Advanced <br>Manufacturing Analytics
    </h3> 
  </div>
  <div class="banner_sec container">
      <!-- <div> -->
        <!-- <video class="video-sec" autoplay="true" loop="true" preload="auto" >
          <source src="../../assets/demo2.mp4" type="video/mp4">
        </video> -->
      <!-- </div> -->
     
      <img
      ngOptimizedImage 
        src="../../assets/background.jpeg"
        height="100%"
        width="80%"
        class="banner-img"
      />
    <!-- <div class="col-3" data-aos="zoom-in" data-aos-delay="100">

    </div> -->
    <div class="main-info">
      <h5 class="snd">Monitor, analyze and<br><span class="thrd">Predict </span>Your Data</h5>
    </div>
  </div>
</section>
<section class="keyframe-sec">
  <div class="container">
    <div class="info-sec">
        <div class="circle-bg" data-aos="zoom-in">
          <img
            src="../../assets/elevator-arrow-up.gif"
            class="info-img"
            width="100%">
          <div class="highlight1"><p>26<br>Years</p></div>
        </div>
        <div class="highlight2" >
          <p>9<br>Countries</p>
        </div>
        <div class="circle-indicator" data-aos="zoom-in">
          <circle-progress
            [percent]="95"
            [radius]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#f97316'"
            [innerStrokeColor]="'#f97316'"
            [backgroundColor]="'#061823'"
            [animation]="true"
            [lazy]="true"
            [animationDuration]="800"
            titleFontSize="40"
            subtitleFontSize="15"
            [showSubtitle]="false"
            titleColor="#f97316"
            subtitleColor="#f97316"
            unitsColor="#f97316"
            unitsFontSize="20"
          ></circle-progress>
          <p class="content-title">
            Installations in Refineries in India
          </p>
        </div>
        <div class="highlight2" data-aos="zoom-in">
          <p>Power<br>>50<br>Installations</p>
        </div>
       
      <!-- </div> -->
    </div>  
  </div>
</section>
<section class="products-sec">
  <div class="container">
    <div class="grid grp-sec">
      <h3 data-aos="fade-down">
        <span class="text-center">What We Do</span>
      </h3>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Predictive Analytics</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Predictive Maintanence</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Grid Management System</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Renewable Management System</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Pipeline Management System</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Document Management System</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Process Information Management System</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Alarm Management System</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-xs-6 col-sm-6 col-6">
          <h5>Smart City System</h5>
        </div>
      </div>
    </div>  
  </div>
</section>
<section class="content-sec">
  <h3 data-aos="fade-down">
    <span class="text-center">Why choose Supra Controls</span>
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/user.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">User Friendly</h5>
            <p>
              Our intuitive interface and user-centric design ensure that anyone
              can become a data analytics superhero, regardless of technical
              expertise
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/scalable.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">Scalable</h5>
            <p>
              From startups to enterprise-level organizations, Supra Controls SAMA
              line of products scales with your business needs, allowing you to
              unlock new insights as your data grows
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/integration.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">Seamless Integration</h5>
            <p>
              Connect with a wide range of data sources and applications, enabling
              you to leverage your existing data infrastructure and maximize ROI
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <mat-card class="card-sec">
          <img
            src="../../assets/images/support.svg"
            class="icon-img"
            alt=""
            width="100%"
          />
          <mat-card-content>
            <h5 class="title">Reliable Support</h5>
            <p>
              Our dedicated support team is always ready to assist you, ensuring a
              smooth implementation process and providing ongoing support to drive
              your success
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>  
  </div>
</section>
<section class="test-sec">
  <h3 data-aos="fade-up">
    <span class="text-center">Testimonials</span>
  </h3>
  <div class="body container">
    <div class="" data-aos="zoom-in">
      <div class="testimonialItems-sec row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
          <mat-card class="card-sec" >
            <mat-card-content>
              <h5 class="title">SAMA Web Server & Alerts at REMC Telangana</h5>
              <p>Hitachi Energy</p>
              <p class="mt-2">Dear Sir <br>We confirm that M/s Supra Controls has successfully completed the work pertaining to Telangana REMC project and the systems are in operation without any failures</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
          <mat-card class="card-sec" >
            <mat-card-content>
              <h5 class="title">CRUDE BLENDING & BOILER CONTROLS</h5>
              <p>PETRONAS PENAPISAN (MELAKA) SDN BHD</p>
              <p class="mt-2">Dear Sir <br>With reference to the above work which you have completed last July 2000, we wish to express our appreciation for a job well done. I am sure you will be pleased to hear that the crude blending controls are now working very well</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
          <mat-card class="card-sec" >
            <mat-card-content>
              <h5 class="title">UHN IOCL Bongaigaon LPG Unit</h5>
              <p>Fabtech</p>
              <p class="mt-2">Dear Sir <br>Nice working with you in IOCL BGR and we delighted to inform you that,BGR project successfully completion done</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- <div class="swiper-pagination"><h5>This site was developed by suresh jayaraman</h5></div> -->
    </div>
  </div>
</section>

<section class="testimonials-sec">
  <h3 data-aos="fade-down">Our World Wide Footprint</h3>

  <div class="world-map" data-aos="zoom-in">
    <img src="../../assets/images/worldmap.png" class="map-img" />

    <div class="pin ind" style="animation-delay: 0.2s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">India</span>
    </div>
    <div class="pin chn" style="animation-delay: 0.4s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Chennai</span>
    </div>
    <div class="pin nig" style="animation-delay: 0.6s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Nigeria</span>
    </div>
    <div class="pin uae" style="animation-delay: 0.8s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">UAE</span>
    </div>
    <div class="pin bhutan" style="animation-delay: 1.0s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Bhutan</span>
    </div>
    <div class="pin lagos" style="animation-delay: 1.2s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Malaysia</span>
    </div>
    <div class="pin indo" style="animation-delay: 1.4s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Indonesia</span>
    </div>
    <div class="pin uae2" style="animation-delay: 1.6s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Oman</span>
    </div>
    <div class="pin bangladesh" style="animation-delay: 1.8s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Bangladesh</span>
    </div>
    <div class="pin philip" style="animation-delay: 2.0s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Philippines</span>
    </div>
    <div class="pin afg" style="animation-delay: 2.2s">
      <span class="pin-ring"></span>
      <span class="pin-ring ring-2"></span>
      <span class="pin-label">Afghanistan</span>
    </div>
  </div>
</section>
