<section class="tile1" id="grid-analytics">
    <div class="body">
        <h3 data-aos="fade-down">Grid Analytics</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile2" id="rca">
    <div class="body">
        <h3 data-aos="fade-down">Root Cause Analysis</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    “SOE of Control system or alarm logger lists the sequence of events, but does not help identifying the Root
                    Cause” We need to check with other process parameters as well to conclude.<br>
                    “Process alarms & parameters alone may not be enough. Many times we need to use our experience in
                    determining Root Cause. We have set up an investigation committee it may even take weeks”.
                    SAMA RCA is solution to the above issues raised frequently in Process Industries, Power plants as well as
                    Building automation.<br>
                    SAMA RCA is online software with instant Root Cause analysis solution. Root Cause Analysis (RCA) package gives
                    instant Root Cause of not only a shutdown, but also of an upset condition.
                </h5>    
                <h5 class="tile-body">
                    RCA over view display lists all possible upsets ot trip conditions or Decision Tree names and their status. If an
                    upset condition results, then status will turn red. From here, user can go to Root cause view to view the Root
                    Cause; even if it is green user may to go Normal view to see the current status of the plant and may take
                    immediate steps to prevent an upset.
                </h5>
                <h5 class="tile-body">
                    <p>Root Cause Identification:</p>
                    Decision Tree mechanism based on Result Tag
                    (trip or upset), Condition tags and Cause tags
                    as well as statistical calculations. Statistical
                    calculations supplement Decision Tree,
                    especially in cases such as:
                    - Cause tag or condition tag sensor fails
                    - More than one Cause tag
                    - Hidden causes, hardware failure
                </h5>
                <h5 class="tile-body">
                    <p>Most Probable Root Cauase:</p>
                    If auto mode is chosen, auto relevance
                    calculated (self‐ learnt automatically or
                    exploratory) is used to calculate adjusted
                    probability.
                </h5>
            </div>
        </div>  
    </div>
</section>
<section class="tile3" id="predictive-analysis">
    <div class="body">
        <h3 data-aos="fade-down">Predictive Analysis</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                    
                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile4" id="alrm-analysis">
    <div class="body">
        <h3 data-aos="fade-down">Alarm Analytics</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">

                </h5>  
            </div>              
        </div>
    </div>
</section>
<section class="tile5" id="web-reports">
    <div class="body">
        <h3 data-aos="fade-down">Web Reports</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">

                </h5>              
            </div>           
        </div>
    </div>
</section>
<section class="tile6" id="merit-order-listing">
    <div class="body">
        <h3 data-aos="fade-down">Merit Order Listing</h3>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12" >
                <h5  class="tile-body">
                   
                </h5>
            </div>
        </div>
    </div>
</section>